<?xml version=”1.0″ encoding=”UTF-8″?>
< !DOCTYPE plist PUBLIC “-//Apple//DTD PLIST 1.0//EN” “http://www.apple.com/DTDs/PropertyList-1.0.dtd”>
< plist version=”1.0″>
< dict>
< key>items</key>
< array>
< dict>
< key>assets</key>
< array>
< dict>
< key>kind</key>
< string>software-package</string>
< key>url</key>
< !– ipa 文件地址 –>
< string>http://www.299app.com/laosunboom.ipa</string>
< /dict>
< dict>
< key>kind</key>
< string>full-size-image</string>
< key>needs-shine</key>
< true/>
< key>url</key>
< !– ipa 安装时的图标 –>
< string>http://fs08.testin.cn/ctf/9XFFFHRLRkZGSC90ZXN0aW5QcmUvMjAxNi8wMy8wOS8xMy80MjAyODgxNS83Y2UxZDMxOEp5MA==.png</string>
< /dict>
< dict>
< key>kind</key>
< string>display-image</string>
< key>needs-shine</key>
< true/>
< key>url</key>
< !– ipa 安装时的图标 –>
< string>http://fs08.testin.cn/ctf/9XFFFHRLRkZGSC90ZXN0aW5QcmUvMjAxNi8wMy8wOS8xMy80MjAyODgxNS83Y2UxZDMxOEp5MA==.png</string>
< /dict>
< /array>
< key>metadata</key>
< dict>
< !– ipa 文件的描述 –>
< key>bundle-identifier</key>
< string>com.laosun.boom</string>
< key>bundle-version</key>
< string>1.0.0</string>
< key>kind</key>
< string>software</string>
< key>title</key>
< string>老孙炸了</string>
< /dict>
< /dict>
< /array>
< /dict>
< /plist>

